body {
  background-image: url('https://i.imgur.com/xALx5Sm.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #181818;
}

/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------CLASSES-----------------*/
/*------------------BELOW------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/

/* Disallows text highlights */

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  color: white;
  font-size: 38px;
  font-weight: bold;
  text-shadow: 0px 0px 5px #67809F;
  border: none;
}

/* Default block properties */

.block {
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid white;
  background-image: url('http://i.imgur.com/8j1zP8k.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #181818;
  display: block;
  transition-property: height, width, color, border-color, text-shadow, background-color, box-shadow, opacity, margin;
  transition-duration: .25s;
  overflow: hidden;
}

/* Causes block interior "fade-in" property */

.interior{
  width: 100%;
  height: 409.5px;
  opacity: 1;
  margin: 0px;
  transition-property: opacity;
  transition-duration: .25s;
}

/* Default title undeline properties */

.underhead{
  width: 25%;
  height: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  display: inline-block;
  border: none;
}

/* Default button properties */

.button{
  width: 350px;
  height: 350px;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 200px;
  padding-left: 0px;
  padding-right: 0px;
  border: 5px solid white;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
  outline: none;
  font-size: 28px;
  color: white;
  background-image: url('http://i.imgur.com/oDf14UA.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #282828;
  display: inline-block;
  transition-property: border, text-shadow, font-weight, box-shadow, background-color, margin, opacity;
  transition-duration: .25s;
  box-shadow: inset 0px 0px 20px 5px #444444;
  cursor:pointer;
  text-shadow: -1px -1px 1px #333333;
  opacity: .85;
}

/* Defines what happened when mouse over button */

.button:hover{
  transition-property: border, text-shadow, font-weight, box-shadow, background-color, margin, opacity;
  transition-duration: .175s;
  box-shadow: inset 0px 0px 20px 5px #67809F;
  text-shadow:-1px -1px 1px #67809F;
  vertical-align: top;
  opacity: 1;
}

/* Defines what happens when button is clicked*/

.button:active{
  vertical-align: top;
  margin-top: 30px;
  transition-property: margin;
  transition-duration: .05s;
}

.left{
  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;
  float: left;
}

.middle{
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  float: left;
  margin-left: 45px;
  margin-right: 0px;
}
.right{
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  float: right;
  margin-right: 30px;
  margin-left: 0px;
}

.vert{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*-----------------------------------------*/
/*-----------------------------------------*/
/*--------------OBJECT ID's----------------*/
/*----------------BELOW--------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/

/* Title block properties */

#title {
  width: 1000px;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 0px;
  transition-property: border, text-shadow, font-weight, box-shadow, background-color, margin;
  transition-duration: .05s;
  background: none;
  border: none;
}
/* Properties specific to title paragraph */

#header {
  width: 100%;
  transition-property: text-shadow;
  transition-duration: .5s;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  color: white;
  font-size: 72px;
  font-weight: bold;
  text-shadow: 0px 0px 7.5px #67809F;
}

/* Properties specific to lefthand title underline */

#underleft{
  background: linear-gradient(to left, white , transparent);
  margin-left: 25%;
}

/* Properties specific to righthand title underline */

#underright{
  background: linear-gradient(to right, white , transparent);
  margin-right: 25%;
}

/* Properties specific to the first choice block */

#block1{
  width: 1000px;
  margin-top: 0px;
  border-bottom: 5px solid white;
  box-shadow: inset 0px 0px 20px 2.5px #67809F;
}

/* Properties specific to the the left button in the first block */

#splayerbutton{
  background-image: url('http://i.imgur.com/Asm4Poa.jpg');
  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;
  float: left;
}

/* Properties specific to the the right button in the first block */

#mplayerbutton{
  background-image: url('http://i.imgur.com/RRjY6Bt.jpg');
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  float: right;
  margin-right: 30px;
  margin-left: 0px;
}

/* Properties specific to the the paragraph element in the center of the first block */

#directiveouter{
  width: 240px;
  height: 350px;
  float: left;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display: inline-block;
  border: none;
}

/* Properties specific to the the center div element in the first block */

#directive{
  width: 230px;
  height: 90px;
  margin-top: 130px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  color: white;
  font-size: 38px;
  font-weight: bold;
  text-shadow: 0px 0px 5px #67809F;
  border: none;
}

#splayerinterior{
  opacity: 0;
  padding: 0px;
}

#mplayerinterior{
  opacity: 0;
}

#settingsdiv{
  border: 5px solid white;
  width: 64px;
  height: 64px;
  margin-top: -34.5px;
  transition-duration: 1s;
  padding: 0px;
}

#settings{
  height:64px;
  width:64px;
  border: none;
  margin: 0px;
  padding: 0px;
  background: transparent;
  background-image: url('http://i.imgur.com/QScoao7.png');
  box-shadow: none;
  display: inline-block;
  vertical-align: top;
  float: left;
}

#settingsp{
  width: 252px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 160px;
  padding: 0px;
  color: white;
  font-size: 38px;
  font-weight: bold;
  text-shadow: 0px 0px 5px #67809F;
  border: none;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  transition-property: opacity, border, text-shadow, font-weight, box-shadow, background-color, margin;
  transition-duration: .5s;
  opacity: 0;
}

/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------ANIMATION CRITERIA------------*/
/*-----------------BELOW-------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/

.twist{
  animation-name: spin;
  animation-duration:1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.spinright{
  animation-direction: normal;
  animation-timing-function: ease-out;
}

.spinleft{
  animation-direction: reverse;
  animation-timing-function: ease-in;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
